#webchat * {
    box-sizing: border-box;
}
#webchat .push-launcher {
    font-family: Open Sans, sans-serif;
    padding: 20px 75px 20px 30px;
    background: #152fbf;
    border-radius: 66px;
    color: #fff;
    height: 66px;
    width: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    z-index: 4;
    border: none;
    cursor: pointer;
}

#webchat .push-launcher .push-close-launcher.push-default, #webchat .push-launcher img {
    display: none
}

#webchat .push-launcher:after {
    content: "";
    background: url(../img/chat-logo.svg) no-repeat 50%;
    width: 51px;
    height: 51px;
    display: block;
    position: absolute;
    right: 8px;
    top: 8px
}

#webchat .push-launcher:before {
    content: "";
    width: 94%;
    height: 110%;
    border: 3px solid #1cabe2;
    border-radius: 66px;
    position: absolute;
    -webkit-animation: pulsate 1.4s infinite;
    animation: pulsate 1.4s infinite;
    top: -6px;
    left: 0;
    right: 0;
    margin: 0 auto
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1.1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(1.2);
        opacity: 0
    }
}

#webchat .push-widget-container {
    bottom: 50px;
    right: 20px
}

#webchat .push-widget-container.push-chat-open {
    height: 98vh;
    bottom: 10px
}

#webchat .push-widget-container.push-full-screen.push-chat-open {
    right: 20px;
    left: 20px;
    width: calc(100% - 40px)
}

#webchat .push-widget-container.push-full-screen.push-chat-open .push-group-message.push-from-response {
    width: 65%;
    margin: 0 auto
}

#webchat .push-widget-container.push-full-screen.push-chat-open .push-messages-container {
    height: 100%
}

#webchat .push-widget-container.push-full-screen.push-chat-open .push-new-message {
    margin-left: 20%
}

#webchat .push-widget-container.push-full-screen.push-chat-open .push-send {
    margin-right: 20%
}

#webchat .push-messages-container {
    padding: 18px !important;
    max-height: none;
    min-height: inherit;
    background-color: #fafafa
}

#webchat .push-messages-container .push-avatar {
    width: 36px;
    height: 36px;
    border-radius: 0;
    margin-top: 4px
}

#webchat .push-messages-container .push-message {
    margin: 10px 0
}

#webchat .push-conversation-container {
    -webkit-box-shadow: 0 44px 124px rgba(0, 0, 0, .19);
    box-shadow: 0 44px 124px rgba(0, 0, 0, .19)
}

#webchat .push-conversation-container .push-poweredby-container {
    display: none
}

#webchat .push-conversation-container .push-header {
    background: url(../img/chat-header-logo.svg) no-repeat 18px #fff;
    height: 90px
}

#webchat .push-conversation-container .push-header .push-avatar, #webchat .push-conversation-container .push-header .push-title {
    display: none
}

#webchat .push-conversation-container .push-close-button, #webchat .push-conversation-container .push-toggle-fullscreen-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    width: 40px;
    height: 20px;
    cursor: pointer
}

#webchat .push-conversation-container .push-close-button img, #webchat .push-conversation-container .push-toggle-fullscreen-button img {
    display: none
}

#webchat .push-conversation-container .push-close-button {
    background: url(../img/chat-close.svg) no-repeat 50% #fff
}

#webchat .push-conversation-container .push-toggle-fullscreen-button {
    background: url(../img/fullscreen.svg) no-repeat 50% #fff
}

#webchat .push-conversation-container .push-close-button:active, #webchat .push-conversation-container .push-close-button:focus, #webchat .push-conversation-container .push-close-button:hover {
    outline: none
}

#webchat .push-conversation-container .push-close-button::-moz-focus-inner {
    border: 0
}

#webchat .push-conversation-container .push-close {
    display: inline-block;
    width: 20px;
    height: 20px
}

#webchat .push-conversation-container .push-hide-sm {
    display: none
}

#webchat .push-conversation-container .push-response {
    border-radius: 0 19px 19px 19px;
    background-color: #e4f5ff;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #152fbf;
    padding: 15px 19px;
    overflow: visible;
    min-height: 36px
}

#webchat .push-conversation-container .push-group-message.push-from-response .push-message:not(:first-child):not(:last-child):not(:last-child) {
    margin-top: 8px;
    margin-bottom: 8px
}

#webchat .push-conversation-container .push-group-message.push-from-response .push-message:not(:first-child) .push-response {
    border-radius: 19px
}

#webchat .push-conversation-container .push-group-message.push-from-response .push-message:first-child:not(:only-child) .push-response {
    border-radius: 0 19px 19px 19px
}

#webchat .push-conversation-container .push-group-message.push-from-response .push-message:first-child:not(:only-child) {
    margin-bottom: 12px
}

#webchat .push-conversation-container .push-group-message.push-from-response .push-message:not(:first-child):not(:only-child).push-with-avatar {
    margin-left: 43px
}

#webchat .push-conversation-container .push-replies {
    margin: 15px 0 0 0
}

#webchat .push-conversation-container .push-reply {
    width: 100%;
    border-radius: 19px;
    border: 2px solid #152fbf;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    color: #152fbf;
    padding: 9px 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#webchat .push-conversation-container .push-client {
    background-color: #152fbf;
    border-radius: 19px;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    padding: 15px 19px;
    position: relative;
    margin: 10px 46px 20px auto;
    overflow: visible
}

#webchat .push-conversation-container .push-client:before {
    content: "";
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -46px
}

#webchat div#push-wave {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center
}

#webchat div#push-wave .push-dot {
    background-color: #8dd3ff
}

#webchat div#push-wave .push-dot:nth-child(2) {
    background-color: #152fbf
}

#webchat div#push-wave .push-dot:nth-child(3) {
    background-color: #1cabe2
}

#webchat .push-sender {
    background-color: #fff;
    padding: 0;
    height: 80px;
    -webkit-box-shadow: 0 -8px 40px rgba(24, 42, 142, .08);
    box-shadow: 0 -8px 40px rgba(24, 42, 142, .08)
}

#webchat .push-new-message {
    font-family: Open Sans, sans-serif;
    background-color: inherit;
    color: #152fbf;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding: 0 28px
}

#webchat ::-webkit-input-placeholder {
    color: #152fbf;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    opacity: 1
}

#webchat ::-moz-placeholder {
    color: #152fbf;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    opacity: 1
}

#webchat :-ms-input-placeholder {
    opacity: 1
}

#webchat ::-ms-input-placeholder {
    opacity: 1
}

#webchat ::placeholder {
    color: #152fbf;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    opacity: 1
}

#webchat :-ms-input-placeholder {
    color: #152fbf;
    font-family: Open Sans, sans-serif;
    font-size: 16px
}

#webchat ::-ms-input-placeholder {
    color: #152fbf;
    font-family: Open Sans, sans-serif;
    font-size: 16px
}

#webchat .push-send {
    background: url(../img/send.svg) no-repeat 50% #fff;
    width: 29px;
    height: 29px;
    margin-right: 30px
}

#webchat .push-send img {
    display: none
}

@media (max-width: 800px) {
    #webchat .push-widget-container {
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 5;
        padding: 0;
        bottom: 0
    }

    #webchat .push-launcher {
        margin: 20px auto;
        right: 0;
        left: 0
    }
}
